<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com" lang="es">
<head th:replace="~{fragments/layout :: head}"></head>
<body>

<header th:replace="~{fragments/layout :: header}"></header>

<div class="my-4 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-center">


            <div class="col-12 col-md-8 col-lg-6">
                <div class="card bg-white border border-danger">
                    <div class="card-header">Error: Acceso denegado.</div>
                    <div class="card-body p-5">
                        <section th:replace="~{fragments/layout :: messages}"></section>
                        <p>Lo sentimos, <span th:text="${#authentication.name}"></span> usted no tiene
                            permisos para
                            acceder a esta página.</p>
                        <p>
                            <a class="btn btn-outline-danger" th:href="@{/}">Volver al Inicio</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer th:replace="~{fragments/layout :: footer}"></footer>
</body>
</html>