<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com" lang="es">
<head th:replace="~{fragments/layout :: head}"></head>
<body>

<header th:replace="~{fragments/layout :: header}"></header>


<div class="container mt-3">

    <section th:replace="~{fragments/layout :: messages}"></section>

    <div class="card bg-light">

        <div class="card-header" th:text="${titulo}"></div>

        <div class="card-body">
            <a class="mb-2 btn btn-primary btn-sm" th:href="@{/factura/form/} + ${cliente.id}">Crear Factura</a>

            <ul class="list-group">
                <li th:if="${#strings.length(cliente.foto) > 0}" class="list-group-item">
                    <img class="img-thumbnails rounded" style="max-width: 200px;" th:alt="${cliente.nombre}"
                         th:src="@{/uploads/} + ${cliente.foto}">
                </li>
                <li class="list-group-item" th:text="${cliente.nombre}"></li>
                <li class="list-group-item" th:text="${cliente.apellido}"></li>
                <li class="list-group-item" th:text="${cliente.email}"></li>
                <li class="list-group-item" th:text="${cliente.createAt}"></li>
            </ul>

            <div th:if="${#lists.isEmpty(cliente.facturas)}" class="alert alert-info mt-4"
                 th:text="'No Hay facturas para el cliente: ' + ${cliente.nombre} + ' ' + ${cliente.apellido}"></div>

            <table th:if="${not #lists.isEmpty(cliente.facturas)}" class="table table-border table-striped mt-4">
                <thead class="thead-inverse">
                <tr>
                    <td>Folio</td>
                    <td>Descripción</td>
                    <td>Fecha</td>
                    <td>Total</td>
                    <td>Ver</td>
                    <td>Eliminar</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="factura: ${cliente.facturas}">
                    <td th:text="${factura.id}"></td>
                    <td th:text="${factura.descripcion}"></td>
                    <td th:text="${factura.createAt}"></td>
                    <td th:text="${factura.total}"></td>
                    <td>
                        <a th:href="@{/factura/ver/} + ${factura.id}" class="btn btn-success btn-sm">Ver</a>
                    </td>
                    <td>
                        <a th:href="@{/factura/eliminar/} + ${factura.id}" class="btn btn-danger btn-sm"
                           onclick="return confirm_delete()">Eliminar</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<footer th:replace="~{fragments/layout :: footer}"></footer>
</body>
</html>